<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Scanning settings</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>beep_sound</string>
			<key>Title</key>
			<string>Beep sound</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
    <dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>vibrate</string>
			<key>Title</key>
			<string>Vibrate</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
